.card-radio-wrapper {
    border: 1px solid #e4e4e4;
    border-radius: 10px;
    padding: 10px;
    flex: 1 1 0;

}

.card-radio-description {
    color: #00000080;
}

.ant-radio-wrapper-checked.card-radio-wrapper {
    border: 1px solid #48B5FE;
}

.ant-radio-wrapper.card-radio-wrapper:last-child {
    margin-right: 0;
}