.form-block {
  padding: 10px;
}

.view-mode  .ant-form-item-extra {
  display: none;
}

.ant-radio-button-wrapper {
  margin-right: 5px;
  border-radius: 5px;
}

.ant-radio-button-wrapper:last-child {
  border-radius: 5px;
}


@media (max-width: 576px) {
  .view-mode {
    display: none;
  }
}

p {
  margin: 0;
  padding: 0;
}